<section class="contentBox padMd clrP clrBr clrSh3">
  <div class="flexCent gutterH padMd posR">
    <div class="txB tx3"><%= ob.polyT('walletSetup.heading') %></div>
  </div>
  <hr class="clrBr" />
  <div class="mainContent">
    <form class="padStack">
      <div class="flexRow">
        <div class="col3">
          <label class="required"><%= ob.polyT('walletSetup.currencyLabel') %></label>
          <div class="clrT2 tx6"><%= ob.polyT('walletSetup.currencyHelper') %></div>
        </div>
        <div class="col9">
          <% if (ob.errors.walletCurrency) print(ob.formErrorTmpl({ errors: ob.errors.walletCurrency })) %>
          <div class="currencyRadio rowSm">
            <% ob.cryptoCurs.forEach(cur => { %>
            <div class="clrBr">
              <div class="btnRadio">
                <input type="radio"
                       name="walletCurrency"
                       value="<%= cur.code %>"
                       id="walletSetupCurrency<%= cur.code %>"
                       <% if (ob.walletCurrency === cur.code) { %>checked<% } %>>
                <label class="gutterHSm" for="walletSetupCurrency<%= cur.code %>">
                  <%= ob.currencyMod.cryptoIcon({ code: cur.code }) %> <span><%= cur.name %></span> <% if (cur.url) { %><a class="tx6 txU" href="<%= cur.url %>"><%= cur.url %></a><% } %>
                  <% if (cur.code === 'ZEC' || cur.code === 'ZEN') print('<strong class="clrTErr">BETA</strong>') %>
                </label>
              </div>
            </div>
            <% }) %>
          </div>
          <div class="clrT2 tx6"><%= ob.polyT('walletSetup.currencyHelper2') %></div>
        </div>
      </div>
      <div class="flexRow rowLg js-zcashSection <% if (ob.walletCurrency !== 'ZEC') print('hide') %>">
        <div class="col3">
          <label class="required"><%= ob.polyT('walletSetup.zcashBinaryLabel') %></label>
        </div>
        <div class="col9">
          <% if (ob.errors.zcashBinaryPath) print(ob.formErrorTmpl({ errors: ob.errors.zcashBinaryPath })) %>
          <div class="flex gutterH rowSm">
            <input class="clrBr clrP js-inputZcashBinaryPath" type="text" name="zcashBinaryPath" placeholder="<%= ob.polyT('walletSetup.zcashBinaryPlaceholder') %>" value="<%= ob.zcashBinaryPath %>" />
            <button class="btn clrP clrBr form js-browseZcashBinary"><%= ob.polyT('walletSetup.btnBrowse') %></button>
          </div>
          <div class="clrT2 tx6"><%= ob.polyT('walletSetup.zcashBinaryHelper') %></div>
        </div>
      </div>
      <div class="flexRow rowLg js-zenCashSection <% if (ob.walletCurrency !== 'ZEN') print('hide') %>">
        <div class="col3">
          <label class="required"><%= ob.polyT('walletSetup.zenCashBinaryLabel') %></label>
        </div>
        <div class="col9">
          <% if (ob.errors.zenCashBinaryPath) print(ob.formErrorTmpl({ errors: ob.errors.zenCashBinaryPath })) %>
          <div class="flex gutterH rowSm">
            <input class="clrBr clrP js-inputZenCashBinaryPath" type="text" name="zenCashBinaryPath" placeholder="<%= ob.polyT('walletSetup.zenCashBinaryPlaceholder') %>" value="<%= ob.zenCashBinaryPath %>" />
            <button class="btn clrP clrBr form js-browseZenCashBinary"><%= ob.polyT('walletSetup.btnBrowse') %></button>
          </div>
          <div class="clrT2 tx6"><%= ob.polyT('walletSetup.zenCashBinaryHelper') %></div>
        </div>
      </div>
    </form>
  </div>
  <hr class="clrBr row" />
  <div class="flexVCent flexHRight">
    <div>
      <button class="btn clrP js-navNext"><%= ob.polyT('walletSetup.btnNext') %></button>
    </div>
  </div>
</section>
